.mediaViewInfo {
	--web-view-name: CHEVROLET;
	--web-view-id: CHEVROLET;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: CHEVROLET;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#CHEVROLET {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(238,238,238,1);
	overflow: hidden;
	--web-view-name: CHEVROLET;
	--web-view-id: CHEVROLET;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_2239 {
	fill: rgba(246,248,253,1);
}
.Rectangle_2239 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1083.449px;
	left: 0px;
	top: -3.449px;
}
#Group_2869 {
	opacity: 0.02;
	position: absolute;
	width: 475.998px;
	height: 713.997px;
	left: 1444.002px;
	top: 184.984px;
	overflow: visible;
}
#Path_4216 {
	fill: rgba(107,29,87,1);
}
.Path_4216 {
	overflow: visible;
	position: absolute;
	width: 237.999px;
	height: 237.999px;
	left: 80.017px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4217 {
	fill: rgba(107,29,87,1);
}
.Path_4217 {
	overflow: visible;
	position: absolute;
	width: 473.946px;
	height: 356.999px;
	left: 2.052px;
	top: 118.999px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4218 {
	fill: rgba(107,29,87,1);
}
.Path_4218 {
	overflow: visible;
	position: absolute;
	width: 472.981px;
	height: 240.051px;
	left: 0px;
	top: 473.946px;
	transform: matrix(1,0,0,1,0,0);
}
#Listing {
	position: absolute;
	width: 1363px;
	height: 577.49px;
	left: 301px;
	top: 308px;
	overflow: visible;
}
#Camaro {
	left: 76.38px;
	top: 232px;
	position: absolute;
	overflow: visible;
	width: 208px;
	height: 53px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#n_Silverado {
	left: 587.443px;
	top: 524.49px;
	position: absolute;
	overflow: visible;
	width: 208px;
	height: 53px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Tahoe {
	left: 76.38px;
	top: 523.49px;
	position: absolute;
	overflow: visible;
	width: 208px;
	height: 53px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#spark {
	left: 1082.51px;
	top: 232px;
	position: absolute;
	overflow: visible;
	width: 208px;
	height: 53px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Malibu {
	left: 586.932px;
	top: 232px;
	position: absolute;
	overflow: visible;
	width: 208px;
	height: 53px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#n_Silverado_ {
	left: 1082.01px;
	top: 523.49px;
	position: absolute;
	overflow: visible;
	width: 252px;
	height: 53px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Camaro_ {
	position: absolute;
	width: 376px;
	height: 282px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Camaro.html;
	cursor: pointer;
}
#malibu-21 {
	position: absolute;
	width: 336px;
	height: 251px;
	left: 522px;
	top: 31px;
	overflow: visible;
}
#spark_bb {
	position: absolute;
	width: 340px;
	height: 238px;
	left: 993px;
	top: 22px;
	overflow: visible;
}
#Tahoe_bc {
	position: absolute;
	width: 309px;
	height: 232px;
	left: 39px;
	top: 319px;
	overflow: visible;
}
#Silverado {
	position: absolute;
	width: 336px;
	height: 178px;
	left: 522px;
	top: 351px;
	overflow: visible;
}
#Blazer {
	position: absolute;
	width: 310px;
	height: 150px;
	left: 1053px;
	top: 374px;
	overflow: visible;
}
#Header {
	position: absolute;
	width: 1920px;
	height: 247px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Menu_NAV {
	position: absolute;
	width: 1920px;
	height: 247px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_2815 {
	position: absolute;
	width: 1920px;
	height: 247px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_262 {
	filter: blur(13px);
	fill: rgba(255,255,255,1);
}
.Rectangle_262 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 247px;
	left: 0px;
	top: 0px;
}
#Top_Nav {
	position: absolute;
	width: 987.586px;
	height: 86.7px;
	left: 802px;
	top: 26.8px;
	overflow: visible;
}
#Right_Nav {
	position: absolute;
	width: 987.586px;
	height: 86.7px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Main_Nav {
	position: absolute;
	width: 316px;
	height: 22px;
	left: 0px;
	top: 64.7px;
	overflow: visible;
}
#Shop {
	left: 162px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(34,35,43,1);
	text-transform: uppercase;
}
#Magazine {
	left: 228px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(34,35,43,1);
	text-transform: uppercase;
}
#Home {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(107,29,87,1);
	text-transform: uppercase;
}
#Rectangle_2257 {
	fill: rgba(107,29,87,1);
}
.Rectangle_2257 {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 2px;
	left: 0px;
	top: 20px;
}
#Home_bq {
	left: 70px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(107,29,87,1);
	text-transform: uppercase;
}
#Rectangle_2256 {
	fill: transparent;
	stroke: rgba(107,29,87,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2256 {
	filter: drop-shadow(0px 8px 8px rgba(67, 66, 93, 0.251));
	position: absolute;
	overflow: visible;
	width: 143.586px;
	height: 72.816px;
	left: 868px;
	top: 0px;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: sign_in.html;
	cursor: pointer;
}
#Login {
	left: 919px;
	top: 13.7px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: right;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(107,29,87,1);
	text-transform: uppercase;
}
#user_19 {
	position: absolute;
	width: 15.384px;
	height: 15.384px;
	left: 883.309px;
	top: 16.508px;
	overflow: visible;
}
#Group_2834 {
	position: absolute;
	width: 15.384px;
	height: 15.384px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_18910 {
	fill: rgba(107,29,87,1);
	stroke: rgba(107,29,87,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_18910 {
	overflow: visible;
	position: absolute;
	width: 16.384px;
	height: 16.384px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Search {
	position: absolute;
	width: 1650px;
	height: 29.303px;
	left: 135px;
	top: 128px;
	overflow: visible;
}
#Search_Field {
	position: absolute;
	width: 1650px;
	height: 29.303px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Search_by {
	position: absolute;
	width: 27.655px;
	height: 27.655px;
	left: 0px;
	top: 0.265px;
	overflow: visible;
}
#Path {
	fill: rgba(0,0,0,0);
	stroke: rgba(19,19,19,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path {
	overflow: visible;
	position: absolute;
	width: 11.599px;
	height: 11.599px;
	left: 18.884px;
	top: 18.884px;
	transform: matrix(1,0,0,1,0,0);
}
#Oval {
	fill: rgba(0,0,0,0);
	stroke: rgba(19,19,19,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Oval {
	position: absolute;
	overflow: visible;
	width: 24.124px;
	height: 24.124px;
	left: 0px;
	top: 0px;
}
#Line {
	fill: rgba(27,27,27,1);
}
.Line {
	position: absolute;
	overflow: visible;
	width: 1285.884px;
	height: 1.383px;
	left: 67.063px;
	top: 27.92px;
}
#Dropdown_-_Sort {
	position: absolute;
	width: 589.442px;
	height: 25.124px;
	left: 915.559px;
	top: 4.179px;
	overflow: visible;
}
#Line_b {
	opacity: 0.1;
	fill: rgba(27,27,27,1);
}
.Line_b {
	position: absolute;
	overflow: visible;
	width: 589.441px;
	height: 1.383px;
	left: 0px;
	top: 23.741px;
}
#Arrow {
	fill: rgba(0,0,0,0);
	stroke: rgba(19,19,19,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Arrow {
	overflow: visible;
	position: absolute;
	width: 13.891px;
	height: 8.36px;
	left: 576.306px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2827 {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1574px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2245 {
	fill: rgba(107,29,87,1);
}
.Rectangle_2245 {
	position: absolute;
	overflow: visible;
	width: 10px;
	height: 10px;
	left: 0px;
	top: 0px;
}
#Rectangle_2248 {
	fill: rgba(107,29,87,1);
}
.Rectangle_2248 {
	position: absolute;
	overflow: visible;
	width: 10px;
	height: 10px;
	left: 0px;
	top: 14px;
}
#Rectangle_2246 {
	fill: rgba(107,29,87,1);
}
.Rectangle_2246 {
	position: absolute;
	overflow: visible;
	width: 10px;
	height: 10px;
	left: 14px;
	top: 0px;
}
#Rectangle_2247 {
	fill: rgba(107,29,87,1);
}
.Rectangle_2247 {
	position: absolute;
	overflow: visible;
	width: 10px;
	height: 10px;
	left: 14px;
	top: 14px;
}
#Group_2828 {
	position: absolute;
	width: 24px;
	height: 23px;
	left: 1626px;
	top: 1px;
	overflow: visible;
}
#Rectangle_2253 {
	fill: rgba(214,214,214,1);
}
.Rectangle_2253 {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 3px;
	left: 20px;
	top: 0px;
}
#Rectangle_2252 {
	fill: rgba(214,214,214,1);
}
.Rectangle_2252 {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 3px;
	left: 20px;
	top: 10px;
}
#Rectangle_2251 {
	fill: rgba(214,214,214,1);
}
.Rectangle_2251 {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 3px;
	left: 20px;
	top: 20px;
}
#Rectangle_2245_ce {
	fill: rgba(214,214,214,1);
}
.Rectangle_2245_ce {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 3px;
	left: 0px;
	top: 0px;
}
#Rectangle_2250 {
	fill: rgba(214,214,214,1);
}
.Rectangle_2250 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 3px;
	left: 0px;
	top: 10px;
}
#Rectangle_2249 {
	fill: rgba(214,214,214,1);
}
.Rectangle_2249 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 3px;
	left: 0px;
	top: 20px;
}
#Footer {
	position: absolute;
	width: 1920px;
	height: 111.449px;
	left: 0px;
	top: 968.551px;
	overflow: visible;
}
#Rectangle_555 {
	fill: rgba(255,255,255,1);
	stroke: rgba(230,230,230,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_555 {
	position: absolute;
	overflow: visible;
	width: 1919.5px;
	height: 111.449px;
	left: 0px;
	top: 0px;
}
#Line_6 {
	fill: transparent;
	stroke: rgba(230,230,230,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6 {
	overflow: visible;
	position: absolute;
	width: 1919.5px;
	height: 1px;
	left: 0.5px;
	top: 110.949px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_7 {
	fill: transparent;
	stroke: rgba(226,226,226,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 48px;
	left: 608.675px;
	top: 34.459px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_8 {
	fill: transparent;
	stroke: rgba(226,226,226,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_8 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 48px;
	left: 1078.219px;
	top: 34.459px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_9 {
	fill: transparent;
	stroke: rgba(226,226,226,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 48px;
	left: 1476.115px;
	top: 34.459px;
	transform: matrix(1,0,0,1,0,0);
}
#Social {
	position: absolute;
	width: 155.405px;
	height: 26.26px;
	left: 1627.235px;
	top: 42.346px;
	overflow: visible;
}
#twitter_5 {
	fill: rgba(3,169,244,1);
}
.twitter_5 {
	overflow: visible;
	position: absolute;
	width: 26.291px;
	height: 21.361px;
	left: 129.113px;
	top: 2.682px;
	transform: matrix(1,0,0,1,0,0);
}
#facebook_6 {
	fill: rgba(40,56,206,1);
}
.facebook_6 {
	overflow: visible;
	position: absolute;
	width: 11.996px;
	height: 23.992px;
	left: 71.74px;
	top: 1.324px;
	transform: matrix(1,0,0,1,0,0);
}
#instagram_2 {
	position: absolute;
	width: 26.26px;
	height: 26.26px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_2848 {
	position: absolute;
	width: 26.26px;
	height: 26.26px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_2847 {
	position: absolute;
	width: 26.26px;
	height: 26.26px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_18046_cu {
	fill: url(#Path_18046_cu);
}
.Path_18046_cu {
	overflow: visible;
	position: absolute;
	width: 26.26px;
	height: 26.26px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2850 {
	position: absolute;
	width: 13.13px;
	height: 13.13px;
	left: 6.564px;
	top: 6.565px;
	overflow: visible;
}
#Group_2849 {
	position: absolute;
	width: 13.13px;
	height: 13.13px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_18047_cy {
	fill: url(#Path_18047_cy);
}
.Path_18047_cy {
	overflow: visible;
	position: absolute;
	width: 13.13px;
	height: 13.13px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2852 {
	position: absolute;
	width: 1.75px;
	height: 1.75px;
	left: 19.313px;
	top: 5.198px;
	overflow: visible;
}
#Group_2851 {
	position: absolute;
	width: 1.75px;
	height: 1.75px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_75_c {
	fill: url(#Ellipse_75_c);
}
.Ellipse_75_c {
	position: absolute;
	overflow: visible;
	width: 1.75px;
	height: 1.75px;
	left: 0px;
	top: 0px;
}
#Shop_c {
	left: 665.443px;
	top: 45.995px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(34,35,43,1);
	text-transform: uppercase;
}
#Shop_da {
	left: 840.097px;
	top: 45.995px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(34,35,43,1);
	text-transform: uppercase;
}
#Shop_db {
	left: 1148.034px;
	top: 43.906px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(34,35,43,1);
	text-transform: uppercase;
}
#Magazine_c {
	left: 981.376px;
	top: 45.995px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(34,35,43,1);
	text-transform: uppercase;
}
#Group_9888 {
	position: absolute;
	width: 224px;
	height: 92px;
	left: 60px;
	top: 10px;
	overflow: visible;
}
#Rectangle_2324 {
	fill: rgba(255,255,255,1);
}
.Rectangle_2324 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 92px;
	left: 0px;
	top: 0px;
}
#IMG_20220327_233945_408 {
	position: absolute;
	width: 183px;
	height: 78px;
	left: 19px;
	top: 7px;
	overflow: visible;
}